body {
  font-family: -apple-system, BlinkMacSystemFont, Helvetica, sans-serif;
  margin: 0 !important;
  padding: 0 !important;
}

.video-container {
    background-image: url('../assets/sky.png');
    background-size: 100% 100%;
    height: 100%;
    width: 100%;
    overflow: hidden;
    z-index: 2000;
    position: relative;
    margin-bottom: -100px;
}

.video-container .overlay {
  position: absolute;
  width: 100%;
  height: 100%;

}

.overlay .cloud {
  z-index: 1;
  position: absolute;
  animation: moveright 15s linear infinite;
}

@keyframes moveright {
  to {
    left: 110%;
  }
}

.cloud.one {
  top: 5%;
  left: -50%;
  opacity: 0.75;
}

.cloud.two {
  top: 33%;
  left: -35%;
  opacity: 0.95;
}

.cloud.three {
  top: 66%;
  left: -75%;
}

.video-container .logo {
  display: flex;
  justify-content: center;
  margin: auto;
  width: 75%;
  height: auto;
  opacity: 0;
  animation: scalein 600ms ease-in-out;
  animation-delay: 300ms;
  animation-fill-mode: forwards;
  position: relative;
  z-index: 999;
}

@keyframes scalein{
  0% {
    transform: scale(0.1);
    opacity: 0;
  }

  75% {
    transform: scale(1.1);
    opacity: 1;
  }

  90% {
   transform: scale(0.95);
   opacity: 1;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@media(max-width: 800px) {
  .video-container {
    height: 40%;
  }
  .video-container img {
    width: 100%
  }
}

h1 {
  font-size: 2rem;
}

p {
  font-size: 1rem;
  line-height: 1.4em;
  color: #454545;
  opacity: 0.95;
}

.video-container p {
  font-size: 10rem;
  color: #FFF;
  opacity: 0.9;
  display: flex;
  justify-content: center;
}

/*.video-container .filter {
    z-index: 100;
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
}*/
.movie {
  background-color: #F1F1F1;
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.movie iframe {
}

.contributors {
  background-color: #E1E1E1;
  color: #fff;
  width: 100%;
  display:inline-flex;
  justify-content: center;
}

@media (max-width: 1200px) {
  .contributors {
    display: block;
  }
}

.contributors p {
  font-weight: 200;
}

.contributor {
  display: block;
  text-align: center;
  padding-right: 40px;
  padding-left: 40px;
  padding-top: 20px;
}

.contributor p {
  font-size: 30px;
}

.contributor i {
  font-size: 20px;
}

.contributor img {
  width: 10em;
}

.image-container {
  height: 100vh;
  text-align: right;
  font-size: 30px;
  background-size: cover;
  display: flex;
  justify-content: flex-end;
}

.image-container.left {
  justify-content: flex-start;
}

.cow {
  background-image: url('../assets/cow.png');
}

.forest {
  background-image: url('../assets/forest.png');
}

.farm {
  background-image: url('../assets/farm.png');
}

.image-text {
  background-color: #ededed;
  height: 100%;
  flex: 0 1 40%;
  background-size: 100%;
  padding: 30px 60px;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-text.left{
  float: left;
  padding: 30px 0 0 60px;
  justify-content: flex-start;
}

.farm .image-text {
  background-color: #f1f1f1;
}

.text-content {
  text-align: left;
}

.text-content h1 {
  text-transform: uppercase;
  display: inline-block;
  margin: 0;
  letter-spacing: 0.6rem;
  font-size: 3.5rem
}

.text-content p {
  font-size: 1.5rem;
  line-height: 2.5rem;
}

.chalmers {
  text-align: center;
}
